<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>546126155522-29gq9bc43ahfha2dt69466gjmva2n8qr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546126155522-29gq9bc43ahfha2dt69466gjmva2n8qr</string>
	<key>API_KEY</key>
	<string>AIzaSyA2dPl79fuzIIpnx0YQ--lboG1QmoluMtM</string>
	<key>GCM_SENDER_ID</key>
	<string>546126155522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sophie-Amin.Snapchat-Clone</string>
	<key>PROJECT_ID</key>
	<string>snapchat-clone-79705</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-clone-79705.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546126155522:ios:8be45ec79b82d6af</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-clone-79705.firebaseio.com</string>
</dict>
</plist>